<!--<h2>Criar Anúncio</h2>-->

<!--<p>Skin selecionada: {{ skinId }}</p>-->

<form [formGroup]="anuncioForm" (ngSubmit)="criarAnuncio()">
  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput formControlName="titulo" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <textarea matInput formControlName="descricao" required></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Preço</mat-label>
    <input matInput type="number" formControlName="preco" required min="0.01">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option value="ATIVO">Ativo</mat-option>
      <mat-option value="INATIVO">Inativo</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button type="submit" >
    Criar Anúncio
  </button>
</form>

