<h2 class="section-title">Anúncios Públicos</h2>

<div class="skin-grid">
  <mat-card *ngFor="let anuncio of anuncios" class="skin-card">
    <img mat-card-image [src]="anuncio.skinIcon" alt="Imagem da Skin" class="skin-imagem">

    <div class="skin-info">
      <h3 class="skin-name">{{ anuncio.titulo }}</h3>
      <p class="skin-price">R$ {{ anuncio.preco }}</p>
      <p>{{ anuncio.descricao }}</p>
      <p><strong>Skin:</strong> {{ anuncio.skinNome }}</p>
      <p><strong>Status:</strong> {{ anuncio.status }}</p>
      <p><strong>Data:</strong> {{ anuncio.dataCriacao | date }}</p>

      <button mat-raised-button class="buy-button" [routerLink]="['/anuncios', anuncio.id]">
        Ver Detalhes
      </button>
    </div>
  </mat-card>
</div>
