.footer {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.redes-sociais a {
  margin: 0 10px;
  color: #10c66f;
  font-size: 24px;
  text-decoration: none;
}

.redes-sociais a:hover {
  color: #0b8f50;
}
