<div class="skin-grid" *ngIf="anuncio">
<h2 class="section-title">Detalhes do Anúncio</h2>

<mat-card class="skin-card">
  <img mat-card-image [src]="anuncio.skinIcon" alt="Imagem da Skin" class="skin-imagem">

  <div class="skin-info">
    <h3 class="skin-name">{{ anuncio.titulo }}</h3>
    <p class="skin-price">R$ {{ anuncio.preco }}</p>
    <p>{{ anuncio.descricao }}</p>
    <p><strong>Status:</strong> {{ anuncio.status }}</p>
    <p><strong>Data:</strong> {{ anuncio.dataCriacao | date }}</p>

    <h3 class="skin-name">Usuário: {{ anuncio.usuarioNome }}</h3>

    <h3 class="skin-name">Detalhes da Skin</h3>
    <p><strong>Nome:</strong> {{ anuncio.skinNome }}</p>
    <p><strong>Descrição:</strong> {{ anuncio.skinDescricao }}</p>
    <p><strong>Raridade:</strong> {{ anuncio.skinRaridade }}</p>
    <p><strong>Qualidade:</strong> {{ anuncio.skinQualidade }}</p>
    <p><strong>Desgaste (Float):</strong> {{ anuncio.skinDesgasteFloat }}</p>
  </div>
</mat-card>
</div>
