<div class="skin-list-container">
  <h2 class="section-title">Minhas Skins</h2>

  <a [routerLink]="['criar']" class="btn-criar">Criar nova skin</a>


  <div class="listings-grid">
    <div *ngFor="let skin of skins" class="listing-card">
      <div class="listing-image-container">
        <img class="listing-image" [src]="skin.icon" [alt]="skin.nome">
        <div class="condition-badge">
          {{ skin.qualidade }}
        </div>
      </div>

      <div class="listing-info">
        <h3 class="listing-name">{{ skin.nome }}</h3>
        <p class="listing-price">Jogo: {{ skin.jogoNome }}</p>
        <p *ngIf="skin.desgasteFloat"><strong>Float:</strong> {{ skin.desgasteFloat }}</p>
        <p>{{ skin.descricao }}</p>
      </div>
    </div>
  </div>
<!--  <router-outlet></router-outlet>-->
</div>
