<div class="section">
<h2 class="section-title">Mais Procurados</h2>
  <div class="skin-grid">
  <div *ngFor="let skin of popularskins" class="skin-card" [ngClass]="skin.raridade">
    <img [src]="skin.imagem" [alt]="skin.nome" class="skin-imagem">
      <div class="skin-info">
        <h3 class="skin-nome">{{skin.nome}}</h3>
        <p class="skin-price">{{skin.preco}}</p>
      </div>
    <button class="buy-button">Comprar</button>
  </div>
  </div></div>

<div class="section">
  <h2 class="section-title">Mais Recentes</h2>
  <div class="skin-grid">
    <div *ngFor="let skin of recentskins" class="skin-card" [ngClass]="skin.raridade">
      <img [src]="skin.imagem" [alt]="skin.nome" class="skin-imagem">
      <div class="skin-info">
        <h3 class="skin-name">{{skin.nome}}</h3>
        <p class="skin-price">{{skin.preco}}</p>
      </div>
      <button class="buy-button">Comprar</button>
    </div>
  </div>
</div>

