<div class="skin-category-container">
  <h2 class="section-title">Jogos</h2>
  <div class="carousel">
    <div class="skin-category-item">
      <img src="https://imgs.search.brave.com/0my5WzCVjxC4q1WTQDMPL_rmkgRokkvVYFYqsapRr3c/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDQzMjMy/NzMuanBn"
           alt="CS:GO" class="game-image">
      <div class="game-info">
        <h3 style="font-family: Arial, sans-serif">Counter-Strike Ofensa Globalizada</h3>
      </div>
    </div>
    <div class="skin-category-item">
      <img src="https://imgs.search.brave.com/IQDRN6f1_CP1SeEtoKMKB2jjYJLUm21xSFCvrd1WBPc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2EyLzBm/LzFjL2EyMGYxYzhk/MzYyZjdjYWNjYmRm/ZDYzMThkZjU5ZmNk/LmpwZw"
           alt="lol" class="game-image">
      <div class="game-info">
        <h3 style="font-family: Arial, sans-serif">LOL</h3>
      </div>
    </div>
    <div class="skin-category-item">
      <img src="https://imgs.search.brave.com/K0xhWnSF9GW3hXIAAKvfBBb8EQ6wxTR9bexJ4QqVy28/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/cG9ja2V0dGFjdGlj/cy5jb20vd3AtY29u/dGVudC91cGxvYWRz/LzIwMjAvMDkvcm9i/bG94LWxvZ28tZ2Vu/LXNpeC5qcGc"
           alt="Roblox" class="game-image">
      <div class="game-info">
        <h3 style="font-family: Arial, sans-serif" >Roblox</h3>
      </div>
    </div>
  </div>
</div>

<div class="section">
<h2 class="section-title">Mais Procurados</h2>
  <div class="skin-grid">
  <div *ngFor="let skin of popularskins" class="skin-card" [ngClass]="skin.raridade">
    <img [src]="skin.imagem" [alt]="skin.nome" class="skin-imagem">
      <div class="skin-info">
        <h3 class="skin-nome">{{skin.nome}}</h3>
        <p class="skin-price">{{skin.preco}}</p>
      </div>
    <button class="buy-button">Comprar</button>
  </div>
  </div></div>

<div class="section">
  <h2 class="section-title">Mais Recentes</h2>
  <div class="skin-grid">
    <div *ngFor="let skin of recentskins" class="skin-card" [ngClass]="skin.raridade">
      <img [src]="skin.imagem" [alt]="skin.nome" class="skin-imagem">
      <div class="skin-info">
        <h3 class="skin-name">{{skin.nome}}</h3>
        <p class="skin-price">{{skin.preco}}</p>
      </div>
      <button class="buy-button">Comprar</button>
    </div>
  </div>
</div>

