<h2 class="section-title">Marketplace DMarket</h2>
<div class="search-container">
  <mat-form-field appearance="outline" class="search-field dark-theme-search">
    <mat-label>Pesquisar por nome da skin</mat-label>
    <input matInput placeholder="Ex: AK-47 | Redline" [(ngModel)]="termoBusca" (keyup.enter)="realizarBusca()">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="realizarBusca()">Pesquisar</button>
</div>
<div *ngIf="loading">Carregando itens...</div>

<div class="skin-grid">
  <mat-card *ngFor="let item of itens" class="skin-card">
    <img mat-card-image [src]="item.image" alt="Imagem da Skin" class="skin-imagem" />

    <div class="skin-info">
      <h3 class="skin-name">{{ item.title }}</h3>
      <p class="skin-price">${{ item.price?.USD | priceFormat }}</p>

      <p><strong>Raridade:</strong> {{ item.extra?.quality || 'Não informado' }}</p>

      <p><strong>Blockchain:</strong> {{ item.gameType || 'Steam' }}</p>

      <a mat-raised-button
         class="buy-button"
         href="https://dmarket.com/ingame-items/item-listing/{{ item.itemId }}"
         target="_blank">
        Ver na DMarket
      </a>
    </div>
  </mat-card>
</div>
