<header class="header">
<nav class="menu">
  <a href="#" routerLink="/" class="menu-item">
    <span class="icon">👤</span>
    <span>Usuário</span></a>
    <a href="#" routerLink="/login" class="menu-item">
      <span class="icon">➲</span>
      <span>Login</span>
    </a>
    <a href="#"  routerLink="/registro" class="menu-item">
      <span class="icon">⎆</span>
      <span>Registro</span>
    </a>
</nav> <div class="banner-container">
  <img src="assets/bannerSkins.png" alt="Skins Banner" class="banner-image">
</div>
</header>



