<header class="header">
<nav class="menu">
  <div class="left-menu">
  <a href="#" routerLink="/" class="menu-item">
    <span class="icon">👤</span>
    <span>Usuário</span></a>
    <a href="#" routerLink="/login" class="menu-item">
      <span class="icon">➲</span>
      <span>Login</span>
    </a>
    <a href="#"  routerLink="/registro" class="menu-item">
      <span class="icon">⎆</span>
      <span>Registro</span>
    </a>
  <div class="search-container">
    <input type="text" placeholder="procurar skins" class="search-input">
    <button class="search-button"></button>
  </div>
  </div>
  <div class="right-menu">
    <a routerLink="/meus-anuncios" class="menu-item">
      <span class="icon">📢</span>
      <span>Meus anúncios</span>
    </a>
    <a routerLink="/chats" class="menu-item">
      <span class="icon">💬</span>
      <span>Chats</span>
    </a>
  </div>
</nav>
</header>


