<mat-toolbar class="toolbar-color">
  <div class="left-menu">
    <a mat-button routerLink="/">
      <mat-icon>person</mat-icon>
      <span *ngIf="!(currentUser$ | async)">Usuário</span>
      <span *ngIf="currentUser$ | async as user">Olá, {{ user.nome }}</span>
    </a>
    <button mat-button (click)="abrirRegistro()">REGISTRAR</button>
    <mat-form-field class="search-field">
      <mat-icon>search</mat-icon>
      <mat-label>pesquisar skins </mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <span class="spacer"></span>

  <div class="right-menu">
    <a mat-button routerLink="login">
      <mat-icon>lock</mat-icon>
      Login
    </a>
    <a mat-button routerLink="meus-anuncios">
      <mat-icon>campaign</mat-icon>
      Meus anúncios
    </a>
    <a mat-button routerLink="chats">
      <mat-icon>chat</mat-icon>
      Chats
    </a>
    <a mat-button routerLink="skins">
      <mat-icon>collections</mat-icon>
      Minhas Skins
    </a>
    <a mat-button routerLink="dmarket/connect">

      Registrar com DMarket
    </a>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>
