/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap');

:root {
  --green: #10C66F;
  --black: #0B0B0B;
  --gray-dark: #1A1A1A;
  --gray-mid: #2C2C2C;
  --white: #F1F1F1;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #0a0a0a;
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
